---
name: Renovate Config Validator

permissions: {}

'on':
  push:
    paths:
      - 'renovate.json'
      - '.github/workflows/validate-config.yml'
  pull_request:
    paths:
      - 'renovate.json'

jobs:
  validate:
    name: Validate Renovate Configuration
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76  # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Validate Renovate config
        uses: renovatebot/github-action@5712c6a41dea6cdf32c72d92a763bd417e6606aa # v44.0.5
        with:
          configurationFile: renovate.json
          renovate-version: 41.152.2
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          LOG_LEVEL: debug
          RENOVATE_CONFIG_MIGRATION: true
          RENOVATE_VALIDATE_CONFIG_ONLY: true
